@{
  Layout = "_Layout";
}

<h1>Countries Page</h1>

@foreach (var country in Model)
{
  <li><a href="/countries/@country.CountryCode">Country: @country.CountryName</a></li>
  /* <p>Country Code: @country.CountryCode</p>
  <p>Population: @country.Population</p>
  <p>Capital Id: @country.CapitalId</p>
  <p>Head Of State: @country.HeadOfState</p> */
}


@* <a href="countries/">View all countries</a> *@
@* <a href="/cities/">View all cities</a> *@
