@{
  Layout = "_Layout";
}

<h2>@Model.CountryName</h2>

<p>Country Code: @Model.CountryCode</p>
<p>Population: @Model.Population</p>
<p>Capital Id: @Model.CapitalId</p>
<p>Head Of State: @Model.HeadOfState</p>
